---
import { FOOOTER_LINKS } from "@/data/constants";
---

<footer
	class="mt-auto flex w-full items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 sm:flex sm:justify-between sm:text-xs"
>
	<nav
		aria-label="More about evenzero"
		class="tb:w-full flex items-center justify-between sm:w-full md:w-full lg:w-full"
	>
		{
			FOOOTER_LINKS.map((link) => (
				<a
					target="_blank"
					href={link.path}
					class="px-4 py-2 text-[10px] uppercase sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
