---
import { FOOOTER_LINKS } from "@/data/constants";
---

<footer
	class="mt-auto flex w-full  items-center 
	justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 
	sm:flex sm:justify-between sm:text-xs"
>
	<nav
		aria-label="More about evenzero"
		class="flex justify-between items-center md:w-full tb:w-full lg:w-full sm:w-full"
	>
		{
			FOOOTER_LINKS.map((link) => (
				<a
					target="_blank"
					href={link.path}
					class="uppercase px-4 py-2 sm:px-2 sm:py-0 text-[10px] sm:hover:text-textColor sm:hover:underline"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
