---
import { MENU_LINKS } from "@/data/constants";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<script is:inline src="/scripts/baffle.js"></script>

<script>
	let titleAnimationInterval: NodeJS.Timer | undefined;
	let b = baffle(".evenzero", { characters: "▐0▓_▒*░$#@-+?~&" }).reveal(5000).stop();

	window.addEventListener("load", () => {
		titleAnimationInterval = setInterval(() => {
			b.reveal(5000).stop();
		}, 5000);
	});

	window.addEventListener("focus", () => {
		b.reveal(5000).stop();
		titleAnimationInterval = setInterval(() => {
			b.reveal(5000).stop();
		}, 5000);
	});

	window.addEventListener("blur", () => {
		clearInterval(titleAnimationInterval);
		b.stop();
	});
</script>

<header id="main-header" class="-ml-2 mb-10 flex h-20 w-full justify-between">
	<div class="flex justify-between sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center hover:filter-none"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<div class="flex h-20 w-full justify-between overflow-hidden align-middle">
				<div
					class="text-wrap w-6  items-center break-words text-2xl font-bold leading-none"
				>
				<div class=" w-20 h-20 p-1 border bg-linkHover  border-linkHover">
					<div class="-mt-1">
						<p class="evenzero">even</p>
						<p class="evenzero -mt-2">zero</p>
					</div>
				</div>
				</div>
				<nav id="navigation-menu" class="ml-14 text-sm" aria-label="Main menu">
					{
						MENU_LINKS.map((link) => (
							<a
								href={link.path}
								class="px-2 uppercase leading-4 hover:border-l-4 hover:border-linkHover  hover:text-accent-2 hover:text-linkHover hover:no-underline sm:py-0"
								aria-current={url.pathname === link.path ? "page" : false}
								rel="prefetch"
							>
								{link.title}
								<br />
							</a>
						))
					}
				</nav>
			</div>
		</a>
	</div>
	<div class="relative xl:invisible xl:hidden"></div>
	<ThemeToggle />
</header>
