---
import { MENU_LINKS } from "@/data/constants";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<script is:inline src="/scripts/baffle.js"></script>

<script>
	let i: NodeJS.Timer | undefined;
	let b = baffle(".evenzero", { characters: "▐0▓_▒*░$#@-+?~&" });
	b.reveal(5000);
	b.stop();

	window.addEventListener("load", () => {
		i = setInterval(() => {
			let b = baffle(".evenzero", { characters: "▐0▓_▒*░$#@-+?~&" });
			b.reveal(5000);
			b.stop();
		}, 5000);
	});

	window.addEventListener("focus", () => {
		i = setInterval(() => {
			let b = baffle(".evenzero", { characters: "▐0▓_▒*░$#@-+?~&" });
			b.reveal(5000);
			b.stop();
		}, 5000);
	});

	window.addEventListener("blur", () => {
		clearInterval(i);
		let b = baffle(".evenzero", { characters: "▐0▓_▒*░$#@-+?~&" });
		b.stop();
	});
</script>

<header id="main-header" class="mb-12 h-20 w-full">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<div class="flex h-20 w-full justify-between overflow-hidden align-middle">
				<div class="text-wrap w-6 items-center break-words text-xl font-bold leading-none">
					<p class="evenzero h-full">evenzero</p>
				</div>
				<nav
					id="navigation-menu"
					class="ml-2 border-l border-linkHover text-[12px]"
					aria-label="Main menu"
				>
					{
						MENU_LINKS.map((link) => (
							<a
								href={link.path}
								class="px-2  uppercase  leading-4	 hover:border-l-4 hover:border-linkHover  hover:text-accent-2 hover:text-linkHover hover:no-underline sm:py-0"
								aria-current={url.pathname === link.path ? "page" : false}
								rel="prefetch"
							>
								{link.title}
								<br />
							</a>
						))
					}
				</nav>
				<div class="relative xl:invisible xl:hidden"></div>
				<ThemeToggle />
			</div>
		</a>
	</div>
</header>
