---

---

	<section class="flex-col" client:load>
		<div class="text-justify text-2xl lowercase leading-relaxed">
			<p class="mb-10">
				<span class="inline-block">
					<span class="exp-counter">
						<span class="exp cursor-pointer" id="exp">10,000</span>
					</span>
				</span>
				<sup class="cursor-pointer font-semibold">+</sup> man-hours of experience in shipping pixel-perfect<span
					class="font-semibold"
				>
					frontends</span
				>, highly available <span class="text-2xl font-semibold uppercase">API</span>s, scalable,
				secure <span class="text-2xl font-semibold">microservices</span>, and <span
					class="text-2xl font-semibold">performant operations</span
				> on the <span class="text-2xl font-semibold">edge</span>, <span
					class="text-2xl font-semibold">cloud</span
				>, and <span class="text-2xl font-semibold">downstream</span>.
			</p>
			<p class="mb-4 text-2xl lowercase leading-relaxed">
				email
				<a
					class="email font-semibold underline underline-offset-2"
					href="mailto:suraj@evenzero.in?subject=Hello%20Evenzero!&body=Hi%2C%0D%0A%0D%0APlease%20add%20your%20request%20for%20quote%20here.%0D%0A%0D%0A%0D%0Acheers!"
					>suraj</a
				>
				for incredible, domain-agnostic, agile adventures in delivering <span class="font-semibold"
					>orders of magnitude better</span
				>, fault-tolerant, intuitive software.
			</p>
			<br />
		</div>
	</section>
</InteractiveSection>
