---
import Clients from "./Clients.jsx";
import { clients } from "@/data/clients";
---

<div class="no-scrollbar absolute left-1/2 right-auto flex h-48 w-screen -translate-x-1/2 items-center justify-center overflow-hidden bottom-10">
	<Clients client:load clients={clients} />
</div>
