---
import Clients from "./Clients.jsx";
import { clients } from "@/data/clients";
---

<div
  class="no-scrollbar flex h-48 w-screen items-center justify-center overflow-hidden mqs mt-auto mb-0 md:mb-10"
>
  <Clients client:load clients={clients} />
</div>

<style>
  @media (max-width: 542px) {
    .mqs {
      transform: scale(0.8);
      width: 665px !important;
    }
  }

  @media (max-width: 460px) {
    .mqs {
      transform: scale(0.6);
      width: 765px !important;
    }
  }
</style>
