---
const { name, desc, skills } = Astro.props;
import SkillTable from "./SkillTable.astro";

// const { fe, be, de, qa } = skills;
---

<div class="flex justify-between">
	<div class="flex-col">
		<p class="mb-2 text-lg">{name}</p>
		<p class="w-64 text-sm">{desc}</p>
	</div>

	<SkillTable
		fe={["svelte", "pug", "figma", "tailwind", "sass"]}
		be={["ethereum", "appologql", "typescript", "solidity", "openzeppelin"]}
		de={["vercel"]}
		qa={["chai", "postcss", "vite"]}
	/>
</div>
